<div class="sidebar">
    <div class="manage-quizzes font">Manage Quizzes</div>

    <a th:each="item : ${sidebarItems}" th:href="@{${item.endpoint}}" style="text-decoration: none; color: black">
        <div class="sidebar-item">
            <span th:text="${item.emoji}"></span>
            <span th:text="${item.title}"></span>
        </div>
    </a>

    <div class="logout sidebar-item">
        <a th:href="@{/logout}" class="btn" style="text-decoration: none; color: black">
            <span>🚪</span>
            <span>Logout</span>
        </a>
    </div>
</div>
