<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizLabAI - Completed Quizzes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2662512c9c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="~{fragments/header.html}"></div>
<div class="container">
    <div th:replace="~{fragments/sidebar.html}"></div>
    <div class="content">
        <div class="breadcrumb">
            <span>🎛️</span>
            <a href="/dashboard">Dashboard </a> /
            <a href="#" th:text="${user.getRole() == T(com.lab24.quizlabai.model.Role).ROLE_STUDENT ? 'Completed Quizzes' : 'Submitted Quizzes'}" class="font"></a>
        </div>
        <main>
            <div th:if="${quizResults == null and quizResults.empty}" class="alert alert-info text-center mt-4">
                <p>No completed quizzes available. Try attempting a quiz first!</p>
            </div>

            <div th:if="${quizResults != null and !quizResults.empty}">
                <div class="row align-items-stretch mt-4">
                    <div th:each="quizResult : ${quizResults}" class="col-12 col-md-4 col-lg-4 mt-3">
                        <div class="card h-100 shadow-sm text-center">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <a th:href="@{/attempt/result/{quizId}/statistics (quizId=${quizResult.quiz.id})}" style="text-decoration: none; color: inherit;">
                                    <div>
                                        <i>✅</i>
                                        <h4 th:text="${quizResult.quiz.subject.name}">Quiz Subject</h4>
                                        <p th:text="${quizResult.quiz.topic}">Topic</p>
                                        <p th:text="'Questions: ' + ${quizResult.quiz.numQuestions}">Number of Questions</p>
                                        <p><strong>Score:</strong> <span th:text="${quizResult.score}">Score</span></p>
                                        <p><strong>Time Spent:</strong> <span
                                                th:text="${quizResult.getFormattedTimeSpent()}">Time Spent</span></p>

                                        <div th:if="${user.getRole() == T(com.lab24.quizlabai.model.Role).ROLE_PROFESSOR}">
                                            <p>
                                                <strong>Student:</strong>
                                                <span th:text="${(quizResult.user.firstName != null and quizResult.user.lastName != null) ?
                                            quizResult.user.firstName + ' ' + quizResult.user.lastName + ' - ' + quizResult.user.getUsername() :
                                            quizResult.user.getUsername()}">
                                            Student Name
                                            </span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
